$default-font: "roboto-example", sans-serif;
$text: #333;
$black: #000;
$turquoise: #7acec3;
$red: red;
$orange: #f8c255;
$dark-orange: #fd5000;
$greeny: #d4edbf;
$white: #fff;
$creamy: #fefefe;
$another-creamy: #dfe0d9;
$dirty-white: #f7f7f7;
$another-dirty-white: #e9eae2;
$another-creamy-dirty-white: #eaeaea;
$gray: #cecece;
$coral: #ff9b6d;

$roboto: 'Roboto Condensed', sans-serif;
// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
