@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $orange;
	color: $white;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $roboto;
	overflow-x: hidden;
	color: $text;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}
a {
    text-decoration: none;
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}
.invisible {
    display: none;
}
.is-active {
    background-color: $orange;
}
.content {
    display: grid;
    grid-template-columns: 1fr 37% 1fr;
    grid-template-rows: 505px 500px 465px 300px 500px 390px 500px 644px;
}
.fa-heart {
    font-size: 21px;
}
.header {
	grid-column: 1 / span 2; 
    background: $dirty-white;
    display: flex;

    &__content {
        position: absolute;
        z-index: 2;
        margin: {
            top: 50px;
            left: 130px;
        }
    }

    &__text {
        text-transform: uppercase;
        width: 90px;
        line-height: 1;
    }

    &__social-links {
        margin-top: 51px;
        justify-self: end;
        color: $turquoise;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        padding: {
            left: 12px;
            right: 12px;
        }
        i {
            text-decoration: none;
            color: $turquoise;
            font-size: 20px;
        }
    }

    &__chair {
        flex-grow: 1;
        background-image: url(../img/header-chairs.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 79% 50%;
    }
}
.menu {
	background: $turquoise;
    grid-column: 3;
    &__line {
        display: block;
        width: 100%;
        height: 100%;
      }
    .hamburger-wrap{
        width: 125px;
        height: 125px;
        border: 3px solid $dirty-white;
        position: absolute;
        top: 50px;
        right: 11.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hamburger {
            transition: all .3s ease-in-out;
            outline: none!important;
            outline-offset: 0;
            opacity: 1;
            height: 100%;
            width: 100%;
            line-height: 102px;
            .hamburger-inner {
                background: $white;
                &::before {
                    background: $white;  
                }
                &::after {
                    background: $white;  
                }
            }
        } 
    }
    &__navigation {
        box-sizing: inherit;
        border-left: 3px solid $dirty-white;
        border-top: 3px solid $dirty-white;
        border-bottom: 3px solid $dirty-white;  
        transition: all .3s ease-in-out;
        position: absolute;
        margin-left: -372px;
    }
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: 119px;
        width: 625px;
    }
    &__list-item {
        display: block;
        width: 125px;
        height: 119px;
        float: left;
        a {
            transition: all .3s ease-in-out;
            color: $white;
            text-decoration: none;
            display: block;
            width: 100%;
            height: 100%;
            text-transform: uppercase;
            text-align: center;
            line-height: 122px;
            background-color: $orange;
            &:hover {
                background-color: #daab4d;
            }
        }
    }
    .adress {
        position: absolute;
        color: $dirty-white;
        width: 98px;
        height: 67px;
        font-size: 11px;
        text-transform: uppercase;
        right: 20%;
        top: 255px;
        line-height: 1;
    }
    .phone {
        position: absolute;
        color: $dirty-white;
        width: 133px;
        height: 27px;
        font-size: 11px;
        text-transform: uppercase;
        right: 12%;
        top: 400px;
        line-height: 1;
    }
}

.projects {
    position: relative;
    grid-row: 2;
    background: $orange;
    &__line {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
    }
    &__list {
        position: absolute;
        left: 19%;
        margin-top: 166px;
        width: 145px;
        height: 67px;
        font-size: 13px;
        color: $white;
        line-height: 1.1;
        list-style-type: none;
        text-transform: uppercase;
        li
            a {
                text-decoration: none;
                color: $white;
                &:hover {
                    color: $black;
                }
            }
        &-item::before {
            content: url(../img/arrow_icon.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 0;
        }
        &-item {
            cursor: pointer;
            float: left;
            &:hover:before {
                opacity: 1;
            }
        }
    }
    &__title {
        position: absolute;
        left: 41%;
        margin-top: 290px;
        font-size: 48px;
        color: $white;
        width: 184px;
        text-transform: uppercase;
        font-weight: normal;
    }
    
}

.fondue {
    grid-column: 2;
    grid-row: 2;
    background: $creamy;
    &__content {
        margin-top: 87px;
        margin-left: 12%;
        width: 263px;
        position: relative;
        z-index: 1;
    }
    &__title {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        text-transform: uppercase;
        p {
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        margin-top: 76px;
        font-size: 18px;
        text-transform: uppercase;
        color: $text;
        height: 15px;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-top: 81px;
        margin-left: 68px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
    &__image {
        background-image: url(../img/fondue.png);
        position: relative;
        margin-top: -431px;
        height: 100%;
        width: 55%;
        float: right;
    }
}

.potter {
    grid-column: 3;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;

}
.lamp {
    background: $another-creamy;
    &__content {
        margin-top: 30px;
        margin-left: 5%;
        position: relative;
        z-index: 1;
    }
    &__title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 187px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        margin-top: 16px;
        font-size: 18px;
        text-transform: uppercase;
        color: $text;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-top: 10px;
        margin-left: 68px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
    &__image {
        background-image: url(../img/lamp_chair.png);
        position: relative;
        background-repeat: no-repeat;
        margin-top: -233px;
        height: 226px;
        width: 55%;
        float: right;
        background-position: center center;
    }
}
.tabano {
    background: $another-dirty-white;
    display: flex;
    &__content {
        width: 100%;
        height: 465px;
        background-image: url(../img/tabano.png);
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        padding: 42px;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: space-between;
    }
    &__like {
        margin-bottom: -45px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
    &__view-project {
        display: block;
        font-size: 18px;
        margin-top: 5px;;
        text-transform: uppercase;
        color: $text;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
}
.fiji {
    flex-grow: 1;
    background-image: url(../img/fiji.png);
    background-repeat: no-repeat;
    &__content {
        margin-top: 30px;
        margin-right: 8%;
        position: relative;
        z-index: 1;
        float: right;
    }
    &__title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 187px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        margin-top: 16px;
        font-size: 18px;
        text-transform: uppercase;
        color: $text;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-top: 10px;
        margin-left: 68px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
}

/* _____________________________________________________ */

.louis {
    grid-row: 3;
    grid-column: 1 / span 2;
    display: flex;
    background: $another-creamy-dirty-white;
}
.xx {
    color: $white;
    background-image: url(../img/louis.png);
    background-size: cover;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    &__content {
        margin-top: 30px;
        margin-left: 7%;
        position: relative;
        z-index: 1;
    }
    &__title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 187px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        margin-top: 38px;
        font-size: 18px;
        text-transform: uppercase;
        color: $white;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-top: 31px;
        margin-left: 68px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
}
.p22 {
    width: 70%;
    background-image: url(../img/p22.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    &__wrapper {
        width: 338px;
        margin-top: 92px;
        margin-right: 67px;;
        display: flex;
        justify-content: center;
    }
    &__title {
        font-weight: 300;
        text-transform: uppercase;
    }
    &__inner2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 187px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__like {
        cursor: pointer;
        margin-top: 10px;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
    &__view-project {
        display: block;
        font-size: 18px;
        margin-top: 5px;;
        text-transform: uppercase;
        color: #333;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
}


.sessan {
    grid-row: 4;
    grid-column: 1 / span 2;
    display: flex;
}
.sofa {
    width: 70%;
    background-image: url(../img/sesann.png);
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &__content {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 195px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        margin-left: 30px;
        font-size: 18px;
        text-transform: uppercase;
        color: $text;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-left: 38px;
        align-self: flex-end;
        margin-bottom: 8px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    }
}
.alessi {
    width: 30%;
    background: url(../img/alessi.png) $gray;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-size: 24px;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    &__info {
        font-size: 12px;
        line-height: 1;
        width: 160px;
        p {
            text-transform: uppercase;
            margin: 0;
        }
        span {
            font-weight: bold;
        }
    }
    &__view-project {
        display: block;
        font-size: 18px;
        margin-left: -24px;
        margin-top: 25px;
        text-transform: uppercase;
        color: $text;
        &::before {
            content: url(../img/arrow_orange.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 1;
        }
    }
    &__like {
        margin-top: 25px;
        margin-left: 38px;
        cursor: pointer;
        p {
            font-size: 11px;
            color: $red;
            margin-top: 5px;
        }
    }
}
.timeline {
    grid-row: 4;
    grid-column: 3;
    background: $orange;
    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
    &__list {
        position: relative;
        margin-top: -251px;
        margin-left: 3%;
        width: 130px;
        height: 67px;
        font-size: 13px;
        color: $white;
        line-height: 1.1;
        list-style-type: none;
        text-transform: uppercase;
        li
            a {
                text-decoration: none;
                color: $white;
            }
        label {
            color: $black;
            font-size: 14px;
            margin-left: 24px;
        }
        &-item::before {
            content: url(../img/arrow_icon.png); 
            display: block;
            float: left;
            width: 20px;
            height: 17px;
            margin-right: 5px;
            opacity: 0;
        }
        &-item {
            cursor: pointer;
            float: left;    
            &:hover:before {
                opacity: 1;
            }
        }
    }
}
.studio {
    grid-row: 5;
    background: $coral;
    &__line {
        display: block;
        height: 100%;
        width: 100%;
    }
    &__title {
        position: relative;
        margin-top: -197px;
        float: right;
        margin-right: 20%;
        color: $white;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: normal;
    }
}
.awards {
    grid-row: 5;
    grid-column: 2 / span 2;
    background: $another-dirty-white;
    display: flex;
    align-items: center;
    &__wrapper {
        display: flex;
        width:770px;
        justify-content: space-between;
        margin-left: 10%;
    }
    &__left-column {
        width: 345px;
        font-size: 18px;
        line-height: 18px;
        &__info {
            font-weight: bold;
            font-style: italic;
        }
        &__info2 {
            margin-top: 30px;
            font-size: 18px;
            line-height: 18px;
            font-weight: 300;
        }
    }
    &__right-column {
        width: 360px;
        display: flex;
        flex-direction: column;
        &__image {
            background-image: url(../img/studio.png);
            height: 200px;
        }
        &__title {
            display: block;
            margin-top: 44px;
            padding-left: 5px;
            border-bottom: 1px solid #00000057;
            text-transform: uppercase;
            font-size: 14px;
        }
        &__wrap {
            display: flex;
            margin-top: 24px;
            justify-content: space-between;
            .info {
                width: 162px;
                font-size: 12px;
                line-height: 14px;
            }
        }
    }
}
.staff {
    grid-row: 6;
    grid-column: 1 / span 3;
    background: $another-dirty-white;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrapper {
        width: 1167px;
        height: 227px;
        display: flex;
        justify-content: space-between;
        &:first-child {
            font-size: 14px;
            line-height: 14px;
            font-weight: 300;
        }
    }
    &__item {
        height: 100%;
        width: 270px;
        display: flex;
        flex-direction: column;
    }
    &__image {
        height: 150px;
        width: 100%;
        background: url(../img/staff__item.png) $white no-repeat;
    }
    &__image2 {
        height: 150px;
        width: 100%;
        background: url(../img/staff__item2.png); 
    }
    &__image3 {
        height: 150px;
        width: 100%;
        background: url(../img/staff__item3.png); 
    }
    &__name {
        font-size: 12px;
        margin-top: 18px;
        span {
            font-size: 13px;
            font-weight: bold;
        }
    }
    &__links {
        display: flex;
        justify-content: space-between;
    }
    &__left__links {
        color: $dark-orange;
        margin-top: 21px;
        font-size: 14px;
        line-height: 13px;
        cursor: pointer;
        &::after {
            content: url(../img/arrow-left.png); 
            display: block;
            float: right;
            margin-left: 10px;
        }
    }
    &__right__links {
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        align-self: flex-end;
        width: 91px;
        i {
            text-decoration: none;
            color: $dark-orange;
            font-size: 14px;
        }
    }
}
.news {
    grid-row: 7;
    background: $greeny;
    &__line {
        display: block;
        height: 100%;
        width: 100%;
    }
    &__title {
        position: relative;
        margin-top: -197px;
        float: right;
        margin-right: 22%;
        color: $white;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: normal;
    }
}
.mauris {
    grid-row: 7;
    grid-column: 2 / span 2;
    background: #e5e9df;
    display: flex;
    align-items: center;
    &__wrapper {
        display: flex;
        width: 780px;
        justify-content: space-between;
        margin-left: 10%;
    }
    &__item {
        width: 374px;
        height: 100%;
    }
    &__title {
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        height: 45px;
    }
    &__date {
        font-size: 12px;
        color: #6a6969;
    }
    &__image {
        background-image: url(../img/mauris__item1.png);
        height: 180px;
    }
    &__image2 {
        background-image: url(../img/mauris__item2.png);
        height: 180px;
    }
    &__info {
        width: 370px;
        height: 55px;
        margin-top: 22px;
        font-size: 12px;
        line-height: 14px;
        text-align: justify;
        color: #6a6969;
    }
    &__link {
        display: block;
        font-size: 12px;
        color: $dark-orange;
        float: right;
        margin-top: 9px;
    }


}
.contact {
    grid-row: 8;
    grid-column: 1 / span 3;
    background: $another-dirty-white;
    display: flex;
    &__map {
        width: 50%
    }
    &__text {
        text-transform: uppercase;
        width: 90px;
        line-height: 1;
    }
    &__info {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__content {
        margin-left: 202px;
    }
    &__wrapper {
        width: 462px;
        display: flex;
    }
    &__adress {
        display: flex;
        flex-direction: column;
        p {
            width: 114px;
            height: 67px;
            font-size: 13px;
            line-height: 14px;
            
        }
    }
    &__social-links {
        margin-top: 51px;
        justify-self: end;
        color: $turquoise;
        display: flex;
        justify-content: space-around;
        text-decoration: none;
        padding: {
            left: 12px;
            right: 12px;
        }
        i {
            text-decoration: none;
            color: $turquoise;
            font-size: 20px;
        }
    }
}
.rights {
    position: absolute;
    bottom: 53px;
    font-size: 12px;
}



@import "media"; // Always at the end
